/optuna_test/
/lightning_logs/
/.idea/
/.idea
*.ckpt
*.log
__pycache__/main_functions.cpython-310.pyc
training_timeseriesdataset
training_timeseriesdataset_test
validation_timeseriesdataset
validation_timeseriesdataset_test
